In [1]:
import datetime as dt

In [63]:
from datetime import timedelta

# Задание 1

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [39]:
date_MT = 'The Moscow Times - Wednesday, October 2, 2002'
date_G = 'The Guardian - Friday, 11.10.13'
date_DN = 'Daily News - Thursday, 18 August 1977'

In [40]:
date_MT_list = date_MT.split(' - ')
date_G_list = date_G.split(' - ')
date_DN_list = date_DN.split(' - ')

print(date_MT_list)
print(date_G_list)
print(date_DN_list)

['The Moscow Times', 'Wednesday, October 2, 2002']
['The Guardian', 'Friday, 11.10.13']
['Daily News', 'Thursday, 18 August 1977']

In [41]:
MT_datetype = dt.datetime.strptime(date_MT_list[1], '%A, %B %d, %Y')
G_datetype = dt.datetime.strptime(date_G_list[1], '%A, %d.%m.%y')
DN_datetype = dt.datetime.strptime(date_DN_list[1], '%A, %d %B %Y')

print(MT_datetype)
print(G_datetype)
print(DN_datetype)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

In [37]:
MT_datetype.strftime('%A, %B %d, %Y')

'Wednesday, October 02, 2002'

In [38]:
G_datetype.strftime('%A, %d.%m.%y')

'Friday, 11.10.13'

In [42]:
DN_datetype.strftime('%A, %d %B %Y')

'Thursday, 18 August 1977'

# Задание 2

In [44]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [49]:
for date in stream:
    try:
        dt.datetime.strptime(date, '%Y-%m-%d')
        print(True)
    except:
        print(False)

True
False
False

# Задание 3

In [60]:
def date_range():
    start_date = input("Введите начальную дату в формате ДД.ММ.ГГГГ: ")
    sd = dt.datetime.strptime(start_date, '%d.%m.%Y')
    
    end_date = input("Введите конечную дату в формате ДД.ММ.ГГГГ: ")
    ed = dt.datetime.strptime(end_date, '%d.%m.%Y')
    
    if sd > ed:
        print('Что-то пошло не так, проверьте даты')
    else:
        while sd < ed:
            print(sd.strftime('%Y-%m-%d'))
            sd += timedelta(days=1)

In [64]:
date_range()

Введите начальную дату в формате ДД.ММ.ГГГГ: 12.02.2022
Введите конечную дату в формате ДД.ММ.ГГГГ: 12.03.2022
2022-02-12
2022-02-13
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04
2022-03-05
2022-03-06
2022-03-07
2022-03-08
2022-03-09
2022-03-10
2022-03-11

In [62]:
date_range()

Введите начальную дату в формате ДД.ММ.ГГГГ: 12.03.2022
Введите конечную дату в формате ДД.ММ.ГГГГ: 12.02.2022
Что-то пошло не так, проверьте даты

# Задание 4

1. Ошибка __list index out of range__ означает, что значение индекса превышает количество элементов списка
2. На первом шаге код работает корректно, так как return default_list[DEFAULT_USER_COUNT-2] возвращает элемент списка с индексом 1, которым и является А101, но как только функция вызывается повторно, она удаляет последний элемент списка А101 (который ранее был элементом с индексом 1) и в списке остается только элемент с индексом 0 и при попытке вызвать элемент с индексом 1 появляется ошибка __list index out of range__

Решить данную проблему можно изменив то, что возвращает функция, например: __return default_list[-1]__, что позволит вызвать последний элемент списка

In [87]:
DEFAULT_USER_COUNT = 3

default_list=['A100', 'A101', 'A102']

def delete_and_return_last_user(default_list):

    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    try:
        element_to_delete = default_list[-1]
        default_list.remove(element_to_delete)

        return default_list[-1]
    
    except:
        print('Элементов списка больше не осталось')

In [88]:
delete_and_return_last_user(default_list)

'A101'

In [89]:
delete_and_return_last_user(default_list)

'A100'

In [90]:
delete_and_return_last_user(default_list)

Элементов списка больше не осталось

In [91]:
delete_and_return_last_user(default_list)

Элементов списка больше не осталось